@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
navigation {
  position: absolute;
  width: 1700px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #000000;
}

logo {
  background-image: url("yukie.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 90px;
  height: 50px;
  left: 1490px;
  top: 30px;
}

homelink {
  position: absolute;
  width: 57px;
  height: 24px;
  left: 50px;
  top: 44px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.2em;

  color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}

storelink {
  position: absolute;
  width: 64px;
  height: 24px;
  left: 150px;
  top: 44px;
  transition-duration: 0.4s;
  cursor: pointer;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.2em;

  color: #ffffff;
}

contactlink {
  position: absolute;
  width: 99px;
  height: 24px;
  left: 270px;
  top: 44px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.2em;

  color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}
searchbox {
  position: absolute;
  width: 280px;
  height: 33px;
  left: 670px;
  top: 40px;

  background: #2c2c2c;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 14px;
}
searchcontent {
  position: absolute;
  width: 150px;
  height: 18px;
  left: 690px;
  top: 47px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;

  color: #9a9a9a;
}
signuplink {
  position: absolute;
  width: 100px;
  height: 24px;
  left: 1150px;
  top: 44px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.2em;

  color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}
signinlink {
  position: absolute;
  width: 90px;
  height: 24px;
  left: 1300px;
  top: 43px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  transition-duration: 0.4s;
  cursor: pointer;
}
ads {
  background-image: url("aash.png");
  position: absolute;
  width: 500px;
  height: 320px;
  left: 600px;
  top: 250px;
}
motto_1 {
  position: absolute;
  width: 200px;
  height: 120px;
  left: 184px;
  top: 264px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}
motto_2 {
  position: absolute;
  width: 378px;
  height: 27px;
  left: 181px;
  top: 399px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #000000;
}
motto_1 p {
  position: absolute;
  width: 400px;
  height: 120px;
  left: 180px;
  top: 60px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  color: #000000;
}
popular {
  position: absolute;
  width: 403px;
  height: 60px;
  left: 650px;
  top: 620px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */

  color: #000000;
}
time_opening {
  position: absolute;
  width: 200px;
  height: 17px;
  left: 1300px;
  top: 146px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #595959;
}
time_closing {
  position: absolute;
  width: 189px;
  height: 17px;
  left: 1300px;
  top: 175px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;

  letter-spacing: 0.2em;

  color: #595959;
}
rectangle {
  position: absolute;
  width: 103px;
  height: 35px;
  left: 181px;
  top: 447px;

  background: #000000;
  border-radius: 15px;
}
rectangle_content {
  position: absolute;
  width: 79px;
  height: 17px;
  left: 195px;
  top: 456px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}
rectangle_line {
  position: absolute;
  width: 1700px;
  height: 1px;
  left: 0px;
  top: 596px;

  background: #c4c4c4;

  background: #c4c4c4;
}
r {
  position: absolute;
  width: 103px;
  height: 35px;
  left: 1450px;
  top: 632px;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
sort_by {
  position: absolute;
  width: 60px;
  height: 17px;
  left: 1480px;
  top: 643px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  color: #000000;
}
/* r_1 {
  position: absolute;
  width: 270px;
  height: 200px;
  left: 159px;
  top: 1040px;

  background: #f2f2f2;
  border-radius: 0px;
}*/
card_properties {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  height: 80%;
  margin-bottom: 30px;
  margin-top: 650px;
  margin-left: 70px;
  margin-right: 140px;
}
cardImg {
  display: block;
}
card {
  background-color: #efefef;
  border-radius: 7px;
  height: 450px;
  width: 300px;
  margin-top: 35px;
  margin-left: 42px;
  padding: 5px 2px 2px 2px;
  padding-top: 2em;
}
name,
validity,
price {
  display: block;
  margin-left: 1.5em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
voucher_online,
voucher_physical,
number_of_user,
voucher_value,
description {
  display: list-item;
  margin-left: 3em;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  color: #767676;
}
delivery_period,
delivery_period1,
delivery_charge,
rating {
  display: list-item;
  margin-left: 3em;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  color: #767676;
}
logo_footer {
  position: absolute;
  width: 90px;
  height: 36px;
  left: 30px;
  top: 2410px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  letter-spacing: 0.2em;

  color: #000000;
}

copyright_footer {
  position: absolute;
  width: 320px;
  height: 20px;
  left: 680px;
  top: 2420px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #000000;
}

facebook_footer {
  position: absolute;
  width: 90px;
  height: 20px;
  left: 1250px;
  top: 2420px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.2em;

  color: #000000;
}

instagram_footer {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 1390px;
  top: 2420px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.2em;

  color: #000000;
}
twitter_footer {
  position: absolute;
  width: 72px;
  height: 20px;
  left: 1530px;
  top: 2420px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.2em;

  color: #000000;
}
location {
  position: absolute;
  width: 332px;
  height: 17px;
  left: 30px;
  top: 2320px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;

  letter-spacing: 0.2em;

  color: #868686;
}
website_address {
  position: absolute;
  width: 325px;
  height: 17px;
  left: 680px;
  top: 2320px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;

  letter-spacing: 0.2em;

  color: #868686;
}
mobile_number {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 1400px;
  top: 2320px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #868686;
}
telephone_number {
  position: absolute;
  width: 211px;
  height: 17px;
  left: 1400px;
  top: 2350px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.2em;

  color: #868686;
}
line {
  position: absolute;
  width: 1700px;
  height: 1px;
  left: 0px;
  top: 2300px;

  background: #c4c4c4;
}
name::before {
  content: "Name of card: ";
}
validity::before {
  content: "Validity: ";
}
price::before {
  content: "Card Price: ";
}
rating::before {
  content: "Rating: ";
}
voucher_value::before {
  content: "Voucher Value: ";
}
description::before {
  content: "Description: ";
}
voucher_online::before {
  content: "Voucher For: ";
}
voucher_physical::before {
  content: "Voucher For: ";
}
delivery_period::before {
  content: "Maximum Delivery Days: ";
}
delivery_period1::before {
  content: "Minimum Delivery Days: ";
}
delivery_charge::before {
  content: "Delivery Charge: ";
}
number_of_user::before {
  content: "Number of Users: ";
}
cardImg[img="itunes"] {
  background-image: url("itunes.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0.5em 4em 0.5em 3em;
}
cardImg[img="amazon"] {
  background-image: url("amazon.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5.5em;
}
cardImg[img="googleplay"] {
  background-image: url("googleplay.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 3em;
}
cardImg[img="gastation"] {
  background-image: url("gastation.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5em;
}
cardImg[img="jewellery"] {
  background-image: url("jewellery.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 0 4em 5em;
}

cardImg[img="netflix"] {
  background-image: url("netflix.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5em;
}
cardImg[img="paypal"] {
  background-image: url("paypal.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 4em;
}
cardImg[img="restaurant"] {
  background-image: url("restaurant.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5em;
}
cardImg[img="retail"] {
  background-image: url("retail.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5em;
}
cardImg[img="spotify"] {
  background-image: url("spotify.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 5em;
}
cardImg[img="starbucks"] {
  background-image: url("starbucks.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  margin: 0.5em 4em 4em 3em;
}
homelink:hover,
storelink:hover,
contactlink:hover,
signuplink:hover,
signinlink:hover {
  color: red;
  transform: scale(1.5);
}
logo:hover {
  transform: scale(1.5);
}
rectangle:hover {
  transform: scale(1.5);
}
rectangle_content:hover,
sort_by:hover {
  color: red;
}
r:hover {
  transform: scale(1.2);
}
cardImg:hover {
  transform: scale(1.5);
}
logo_footer:hover {
  transform: scale(1.2);
  color: aqua;
}
facebook_footer:hover {
  transform: scale(1.2);
  color: blue;
}
instagram_footer:hover {
  transform: scale(1.2);
  color: rgb(252, 0, 151);
}
twitter_footer:hover {
  transform: scale(1.2);
  color: rgb(0, 179, 255);
}
